[submodule "moodle/mod/attendance"]
	path = moodle/mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
	branch = MOODLE_401_STABLE
[submodule "moodle/lib/editor/atto/plugins/cloze"]
	path = moodle/lib/editor/atto/plugins/cloze
	url = https://github.com/dthies/moodle-atto_cloze.git
	branch = master
[submodule "moodle/blocks/xp"]
	path = moodle/blocks/xp
	url = https://github.com/FMCorz/moodle-block_xp.git
	branch = master
[submodule "moodle/question/type/oumultiresponse"]
	path = moodle/question/type/oumultiresponse
	url = https://github.com/moodleou/moodle-qtype_oumultiresponse.git
	branch = main
[submodule "moodle/blocks/completion_progress"]
	path = moodle/blocks/completion_progress
	url = https://github.com/deraadt/moodle-block_completion_progress.git
	branch = master
